{#
/**
 * @file
 * Default theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - gumlet_image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_gumlet_sf_formatter()
 *
 * @ingroup themeable
 */
#}
  {% if url %}
  <a href="{{url}}"><img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" title="{{image.title}}" alt="{{image.alt}}"></a>
  {% else %}
    <img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" title="{{image.title}}" alt="{{image.alt}}">
  {% endif %}